.css_idtipodecarga_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idtipodecarga_grid_line {vertical-align: middle;text-align: center;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
