.css_codigo_cita_label {vertical-align:top;}
.css_codigo_cita_line {font-size:14px;color:#000099;font-weight:bold;}
.css_codigo_cita_obj { }
.css_descripcion_label {text-align:left;}
.css_descripcion_line { }
.css_descripcion_obj { }
.css_fechainicio_label {font-size:12px;color:#CC0066;font-weight:bold;text-align:right;}
.css_fechainicio_line {text-align:left;}
.css_fechainicio_obj {font-size:12px;color:#CC0000;font-weight:bold;text-align:left;}
.css_idnaviera_label { }
.css_idnaviera_line { }
.css_idnaviera_obj { }
.css_idtipodecarga_label {text-align:left;}
.css_idtipodecarga_line {text-align:left;}
.css_idtipodecarga_obj {text-align:left;}
.css_idcontenedor_label { }
.css_idcontenedor_line {text-align:left;}
.css_idcontenedor_obj {text-align:left;width:100px;}
.css_idpiloto_label { }
.css_idpiloto_line {text-align:left;}
.css_idpiloto_obj {text-align:left;}
.css_idcabezal_label { }
.css_idcabezal_line {text-align:left;}
.css_idcabezal_obj {text-align:left;}
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_sc_field_1_label { }
.css_sc_field_1_line { }
.css_sc_field_1_obj { }
.css_numcontenedor_label { }
.css_numcontenedor_line { }
.css_numcontenedor_obj { }
