.css_idfuncionario_det_label {text-align: left;vertical-align: middle;}
.css_idfuncionario_det_line {height:0px;text-align: left;}
.css_dpi_det_label {text-align: left;vertical-align: middle;}
.css_dpi_det_line {height:0px;text-align: left;}
.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_id_entidad_de_estado_det_label {text-align: left;vertical-align: middle;}
.css_id_entidad_de_estado_det_line {height:0px;text-align: left;}
