.css_idfuncionario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfuncionario_grid_line {vertical-align: top;text-align: right;}
.css_dpi_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dpi_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_id_entidad_de_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_entidad_de_estado_grid_line {vertical-align: top;text-align: right;}
