.css_fechamayor_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechamayor_grid_line {vertical-align: top;text-align: center;}
.css_total_horas_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_total_horas_grid_line {vertical-align: top;text-align: center;}
.css_placa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_placa_grid_line {vertical-align: top;text-align: right;}
.css_idtransporte_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idtransporte_grid_line {vertical-align: middle;text-align: right;}
.css_contenedorimport_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contenedorimport_grid_line {vertical-align: top;text-align: right;}
.css_contenedorexport_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contenedorexport_grid_line {vertical-align: top;text-align: right;}
.css_naviera_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_naviera_grid_line {vertical-align: top;text-align: right;}
.css_observaciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: right;}
.css_codigo_cita_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_cita_grid_line {vertical-align: top;text-align: right;}
.css_turno_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_turno_grid_line {vertical-align: top;text-align: right;}
.css_fechainicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechainicio_grid_line {vertical-align: top;text-align: center;}
