.css_idfuncionario__label { }
.css_idfuncionario__line {text-align:left;}
.css_idfuncionario__obj {text-align:left;}
.css_dpi__label { }
.css_dpi__line { }
.css_dpi__obj { }
.css_nombre__label { }
.css_nombre__line { }
.css_nombre__obj { }
.css_id_entidad__label { }
.css_id_entidad__line {text-align:left;}
.css_id_entidad__obj {text-align:left;}
