.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_fechainicio_label { }
.css_fechainicio_line { }
.css_fechainicio_obj { }
.css_horainicio_label { }
.css_horainicio_line { }
.css_horainicio_obj { }
.css_idtipocita_label { }
.css_idtipocita_line {text-align:left;}
.css_idtipocita_obj {text-align:left;}
.css_idcontenedor_label { }
.css_idcontenedor_line {text-align:left;}
.css_idcontenedor_obj {text-align:left;}
.css_idestado_label { }
.css_idestado_line {text-align:left;}
.css_idestado_obj {text-align:left;}
.css_lectura_label { }
.css_lectura_line { }
.css_lectura_obj { }
