.css_idcabezal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcabezal_grid_line {vertical-align: top;text-align: right;}
.css_placa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_placa_grid_line {vertical-align: top;text-align: left;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_idtransporte_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtransporte_grid_line {vertical-align: top;text-align: right;}
