.css_idbuque_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idbuque_grid_line {vertical-align: middle;text-align: center;}
.css_buque_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_buque_grid_line {vertical-align: top;text-align: right;}
.css_idviaje_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idviaje_grid_line {vertical-align: middle;text-align: center;}
