.css_idocupacion_label {text-align:;}
.css_idocupacion_line {text-align:left;}
.css_idocupacion_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_ocupaciondry_label {text-align:;}
.css_ocupaciondry_line {text-align:left;}
.css_ocupaciondry_obj {text-align:left;}
.css_ocupacionreefer_label {text-align:;}
.css_ocupacionreefer_line {text-align:left;}
.css_ocupacionreefer_obj {text-align:left;}
.css_ocupacionteu_label {text-align:;}
.css_ocupacionteu_line {text-align:left;}
.css_ocupacionteu_obj {text-align:left;}
.css_importdry_label {text-align:;}
.css_importdry_line {text-align:left;}
.css_importdry_obj {text-align:left;}
.css_importreefer_label {text-align:;}
.css_importreefer_line {text-align:left;}
.css_importreefer_obj {text-align:left;}
.css_importteu_label {text-align:;}
.css_importteu_line {text-align:left;}
.css_importteu_obj {text-align:left;}
.css_disponibledry_label {text-align:;}
.css_disponibledry_line {text-align:left;}
.css_disponibledry_obj {text-align:left;}
.css_disponiblereefer_label {text-align:;}
.css_disponiblereefer_line {text-align:left;}
.css_disponiblereefer_obj {text-align:left;}
.css_disponibleteu_label {text-align:;}
.css_disponibleteu_line {text-align:left;}
.css_disponibleteu_obj {text-align:left;}
.css_exportdry_label {text-align:;}
.css_exportdry_line {text-align:left;}
.css_exportdry_obj {text-align:left;}
.css_exportreefer_label {text-align:;}
.css_exportreefer_line {text-align:left;}
.css_exportreefer_obj {text-align:left;}
.css_exportteu_label {text-align:;}
.css_exportteu_line {text-align:left;}
.css_exportteu_obj {text-align:left;}
.css_despachodry_label {text-align:;}
.css_despachodry_line {text-align:left;}
.css_despachodry_obj {text-align:left;}
.css_despachoreefer_label {text-align:;}
.css_despachoreefer_line {text-align:left;}
.css_despachoreefer_obj {text-align:left;}
.css_despachoteu_label {text-align:;}
.css_despachoteu_line {text-align:left;}
.css_despachoteu_obj {text-align:left;}
.css_totalocupacion_label {text-align:;}
.css_totalocupacion_line {text-align:left;}
.css_totalocupacion_obj {text-align:left;}
.css_totalimport_label {text-align:;}
.css_totalimport_line {text-align:left;}
.css_totalimport_obj {text-align:left;}
.css_totaldespacho_label {text-align:;}
.css_totaldespacho_line {text-align:left;}
.css_totaldespacho_obj {text-align:left;}
.css_totaldisponible_label {text-align:;}
.css_totaldisponible_line {text-align:left;}
.css_totaldisponible_obj {text-align:left;}
.css_totalexport_label {text-align:;}
.css_totalexport_line {text-align:left;}
.css_totalexport_obj {text-align:left;}
