.css_codigo_cita_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_codigo_cita_grid_line {vertical-align: middle;text-align: right;}
.css_idcita_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_idcita_grid_line {font-size:14px;vertical-align: middle;text-align: right;}
.css_idpiloto_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_idpiloto_grid_line {vertical-align: middle;text-align: right;}
.css_idcabezal_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_idcabezal_grid_line {vertical-align: middle;text-align: right;}
.css_chasis_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_chasis_grid_line {vertical-align: middle;text-align: right;}
.css_idnaviera_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_idnaviera_grid_line {vertical-align: middle;text-align: right;}
.css_contenedorexport_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_contenedorexport_grid_line {vertical-align: middle;text-align: right;}
.css_contenedorimport_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_contenedorimport_grid_line {vertical-align: middle;text-align: right;}
.css_idviaje_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_idviaje_grid_line {vertical-align: middle;text-align: right;}
