.css_rev_codigo_revision_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rev_codigo_revision_grid_line {vertical-align: top;text-align: right;}
.css_nav_naviera_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nav_naviera_grid_line {vertical-align: top;text-align: left;}
.css_buq_buque_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_buq_buque_grid_line {vertical-align: top;text-align: left;}
.css_viaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_viaje_grid_line {vertical-align: top;text-align: left;}
.css_rev_contenedor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rev_contenedor_grid_line {vertical-align: top;text-align: left;}
.css_med_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_med_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_tcar_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tcar_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_consignatario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_consignatario_grid_line {vertical-align: top;text-align: left;}
.css_rev_bl_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rev_bl_grid_line {vertical-align: top;text-align: left;}
.css_contenido_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contenido_grid_line {vertical-align: top;text-align: left;}
.css_entidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_entidad_grid_line {vertical-align: top;text-align: left;}
.css_maga_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_maga_grid_line {vertical-align: top;text-align: left;}
.css_sat_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sat_grid_line {vertical-align: top;text-align: left;}
.css_sgaia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sgaia_grid_line {vertical-align: top;text-align: left;}
.css_dipa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dipa_grid_line {vertical-align: top;text-align: left;}
.css_ucc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ucc_grid_line {vertical-align: top;text-align: left;}
.css_rev_fecha_solicitud_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_rev_fecha_solicitud_grid_line {vertical-align: top;text-align: center;}
.css_estado_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: left;}
.css_rev_observaciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rev_observaciones_grid_line {vertical-align: top;text-align: left;}
.css_funcionario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_funcionario_grid_line {vertical-align: top;text-align: left;}
.css_telefono_gestor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telefono_gestor_grid_line {vertical-align: top;text-align: left;}
.css_gestor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gestor_grid_line {vertical-align: top;text-align: left;}
.css_cantidad_por_bl_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_por_bl_grid_line {vertical-align: top;text-align: right;}
.css_ramp_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ramp_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_tipo_movimiento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_movimiento_grid_line {vertical-align: top;text-align: left;}
.css_cab_placa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cab_placa_grid_line {vertical-align: top;text-align: left;}
.css_rev_porcentaje_intrusion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rev_porcentaje_intrusion_grid_line {vertical-align: top;text-align: right;}
.css_sel_selectivo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sel_selectivo_grid_line {vertical-align: top;text-align: left;}
.css_destino_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_destino_grid_line {vertical-align: top;text-align: left;}
.css_horas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_horas_grid_line {vertical-align: top;text-align: left;}
.css_rev_ubicacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rev_ubicacion_grid_line {vertical-align: top;text-align: left;}
.css_detalle_grid_line {text-align: center;}
