.css_idocupacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idocupacion_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_ocupaciondry_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ocupaciondry_grid_line {vertical-align: top;text-align: right;}
.css_ocupacionreefer_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ocupacionreefer_grid_line {vertical-align: top;text-align: right;}
.css_ocupacionteu_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ocupacionteu_grid_line {vertical-align: top;text-align: right;}
.css_importdry_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_importdry_grid_line {vertical-align: top;text-align: right;}
