.css_codigo_cita_label { }
.css_codigo_cita_line { }
.css_codigo_cita_obj { }
.css_placa_label { }
.css_placa_line {font-size:16px;color:#0000FF;font-weight:bold;}
.css_placa_obj {font-size:16px;color:#0000FF;font-weight:bold;}
.css_chasis_label { }
.css_chasis_line {font-size:16px;color:#0000FF;font-weight:bold;}
.css_chasis_obj {font-size:16px;color:#0000FF;font-weight:bold;}
.css_naviera_label { }
.css_naviera_line {font-size:16px;color:#0000FF;font-weight:bold;}
.css_naviera_obj {font-size:16px;color:#0000FF;font-weight:bold;}
.css_contenedor_exp_label { }
.css_contenedor_exp_line {font-size:16px;color:#0000FF;font-weight:bold;}
.css_contenedor_exp_obj {font-size:16px;color:#0000FF;font-weight:bold;}
.css_contenedor_imp_label { }
.css_contenedor_imp_line {font-size:16px;color:#0000FF;font-weight:bold;}
.css_contenedor_imp_obj {font-size:16px;color:#0000FF;font-weight:bold;}
.css_atc_label { }
.css_atc_line { }
.css_atc_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_idcita_label { }
.css_idcita_line { }
.css_idcita_obj { }
