.css_naviera_naviera_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_naviera_naviera_grid_line {vertical-align: top;text-align: right;}
.css_cita_contenedorexport_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cita_contenedorexport_grid_line {vertical-align: top;text-align: right;}
.css_cita_contenedorimport_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cita_contenedorimport_grid_line {vertical-align: top;text-align: right;}
.css_viaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_viaje_grid_line {vertical-align: top;text-align: right;}
.css_selectivo_selectivo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selectivo_selectivo_grid_line {vertical-align: top;text-align: right;}
