.css_idviaje_importacion__label { }
.css_idviaje_importacion__line {text-align:left;}
.css_idviaje_importacion__obj {text-align:left;}
.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj { }
.css_idbuque__label { }
.css_idbuque__line {text-align:left;}
.css_idbuque__obj {text-align:left;}
