.css_idcabezal_label { }
.css_idcabezal_line {text-align:left;}
.css_idcabezal_obj {text-align:left;}
.css_placa_label { }
.css_placa_line { }
.css_placa_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_idtransporte_label { }
.css_idtransporte_line {text-align:left;}
.css_idtransporte_obj {text-align:left;}
