.css_idcita_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcita_grid_line {vertical-align: top;text-align: left;}
.css_cita_codigo_cita_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cita_codigo_cita_grid_line {vertical-align: top;text-align: left;}
.css_cita_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cita_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_cita_fechainicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_cita_fechainicio_grid_line {vertical-align: top;text-align: center;}
.css_cita_horainicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_cita_horainicio_grid_line {vertical-align: top;text-align: center;}
.css_cita_idcontenedor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cita_idcontenedor_grid_line {vertical-align: top;text-align: right;}
.css_cita_idcabezal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cita_idcabezal_grid_line {vertical-align: top;text-align: right;}
.css_cita_idestado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cita_idestado_grid_line {vertical-align: top;text-align: right;}
.css_cita_fechafin_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_cita_fechafin_grid_line {vertical-align: top;text-align: center;}
