.css_idasignacionmodulista_det_label {text-align: right;vertical-align: middle;}
.css_idasignacionmodulista_det_line {height:0px;text-align: right;}
.css_descripcion_det_label {text-align: right;vertical-align: middle;}
.css_descripcion_det_line {height:0px;text-align: right;}
.css_cantidadmodulistas_det_label {text-align: right;vertical-align: middle;}
.css_cantidadmodulistas_det_line {height:0px;text-align: right;}
.css_rangoinicial_det_label {text-align: right;vertical-align: middle;}
.css_rangoinicial_det_line {height:0px;text-align: right;}
.css_rangofinal_det_label {text-align: right;vertical-align: middle;}
.css_rangofinal_det_line {height:0px;text-align: right;}
.css_fecharegistro_det_label {text-align: right;vertical-align: middle;}
.css_fecharegistro_det_line {height:0px;text-align: right;}
.css_fechamodificacion_det_label {text-align: right;vertical-align: middle;}
.css_fechamodificacion_det_line {height:0px;text-align: right;}
.css_horainicio_det_label {text-align: right;vertical-align: middle;}
.css_horainicio_det_line {height:0px;text-align: right;}
.css_horafin_det_label {text-align: right;vertical-align: middle;}
.css_horafin_det_line {height:0px;text-align: right;}
.css_periodo_det_label {text-align: right;vertical-align: middle;}
.css_periodo_det_line {height:0px;text-align: right;}
.css_reaparicion_det_label {text-align: right;vertical-align: middle;}
.css_reaparicion_det_line {height:0px;text-align: right;}
.css_id_api_det_label {text-align: right;vertical-align: middle;}
.css_id_api_det_line {height:0px;text-align: right;}
.css_id_event_google_det_label {text-align: right;vertical-align: middle;}
.css_id_event_google_det_line {height:0px;text-align: right;}
.css_recur_info_det_label {text-align: right;vertical-align: middle;}
.css_recur_info_det_line {height:0px;text-align: right;}
.css_event_color_det_label {text-align: right;vertical-align: middle;}
.css_event_color_det_line {height:0px;text-align: right;}
.css_creator_det_label {text-align: right;vertical-align: middle;}
.css_creator_det_line {height:0px;text-align: right;}
.css_reminder_det_label {text-align: right;vertical-align: middle;}
.css_reminder_det_line {height:0px;text-align: right;}
.css_idtipodemodulista_det_label {text-align: right;vertical-align: middle;}
.css_idtipodemodulista_det_line {height:0px;text-align: right;}
.css_category_det_label {text-align: right;vertical-align: middle;}
.css_category_det_line {height:0px;text-align: right;}
.css_citas_disponibles_det_label {text-align: right;vertical-align: middle;}
.css_citas_disponibles_det_line {height:0px;text-align: right;}
.css_citas_reservadas_det_label {text-align: right;vertical-align: middle;}
.css_citas_reservadas_det_line {height:0px;text-align: right;}
