.css_cantidadmodulistas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidadmodulistas_grid_line {vertical-align: top;text-align: right;}
.css_rangoinicial_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_rangoinicial_grid_line {vertical-align: top;text-align: center;}
.css_rangofinal_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_rangofinal_grid_line {vertical-align: top;text-align: center;}
.css_horainicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_horainicio_grid_line {vertical-align: top;text-align: center;}
.css_citas_disponibles_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_citas_disponibles_grid_line {vertical-align: top;text-align: right;}
.css_citas_reservadas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_citas_reservadas_grid_line {vertical-align: top;text-align: right;}
.css_idasignacionmodulista_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idasignacionmodulista_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_fecharegistro_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecharegistro_grid_line {vertical-align: top;text-align: center;}
