.css_idconsignatario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idconsignatario_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
