.css_licencia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_licencia_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
.css_dpi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_dpi_grid_line {vertical-align: top;text-align: right;}
.css_huella_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_huella_grid_line {vertical-align: top;text-align: left;}
.css_foto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_foto_grid_line {vertical-align: top;text-align: left;}
.css_idpiloto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpiloto_grid_line {vertical-align: top;text-align: right;}
