.css_idviaje_label { }
.css_idviaje_line {text-align:center;}
.css_idviaje_obj {text-align:center;}
.css_viaje_label { }
.css_viaje_line { }
.css_viaje_obj { }
.css_fechaatraque_label { }
.css_fechaatraque_line { }
.css_fechaatraque_obj { }
.css_fechazarpe_label { }
.css_fechazarpe_line { }
.css_fechazarpe_obj { }
.css_idbuque_label { }
.css_idbuque_line {text-align:left;}
.css_idbuque_obj {text-align:left;}
.css_idestado_label {text-align:right;}
.css_idestado_line {text-align:center;}
.css_idestado_obj {text-align:center;}
.css_idnaviera_label { }
.css_idnaviera_line {text-align:left;}
.css_idnaviera_obj {text-align:left;}
