.css_codigo_cita_label { }
.css_codigo_cita_line { }
.css_codigo_cita_obj { }
.css_placa_label { }
.css_placa_line {font-size:16px;color:#0000FF;font-weight:bold;}
.css_placa_obj {font-size:16px;color:#0000FF;font-weight:bold;}
.css_turno_label { }
.css_turno_line { }
.css_turno_obj { }
.css_coment_label { }
.css_coment_line { }
.css_coment_obj { }
