.css_idtipodemodulista_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idtipodemodulista_grid_line {vertical-align: middle;text-align: center;}
.css_tipomodulista_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipomodulista_grid_line {vertical-align: top;text-align: left;}
