.css_id_condicion_label {font-size:18px;}
.css_id_condicion_line {font-size:18px;text-align:left;}
.css_id_condicion_obj {font-size:18px;text-align:left;}
.css_fecha_label {font-size:18px;}
.css_fecha_line {font-size:18px;}
.css_fecha_obj {font-size:18px;}
.css_observaciones_label {font-size:18px;}
.css_observaciones_line {font-size:16px;}
.css_observaciones_obj {font-size:16px;}
.css_cable_label {font-size:18px;height:50px;}
.css_cable_line {font-size:18px;width:200px;height:40px;}
.css_cable_obj {font-size:24px;border-width:10px;text-align:center;width:200px;height:200px;border-collapse:initial;}
.css_plug_label {font-size:18px;}
.css_plug_line {font-size:18px;}
.css_plug_obj {font-size:30px;}
.css_idnaviera_label {font-size:18px;}
.css_idnaviera_line {font-size:18px;text-align:left;width:200px;height:40px;}
.css_idnaviera_obj {font-size:18px;text-align:left;width:200px;height:40px;}
.css_idyarda_label {font-size:18px;}
.css_idyarda_line {font-size:18px;text-align:left;width:200px;height:40px;}
.css_idyarda_obj {font-size:18px;text-align:left;width:200px;height:40px;}
.css_numero_contenedor_label {font-size:18px;}
.css_numero_contenedor_line {font-size:18px;width:180px;height:25px;}
.css_numero_contenedor_obj {font-size:18px;width:180px;height:25px;}
.css_idcabezal_label {font-size:18px;}
.css_idcabezal_line {font-size:18px;text-align:left;width:180px;height:25px;}
.css_idcabezal_obj {font-size:18px;text-align:left;width:180px;height:25px;}
.css_sec_users_login_label {font-size:18px;}
.css_sec_users_login_line {font-size:18px;}
.css_sec_users_login_obj {font-size:18px;}
.css_tipomovimiento_idtipomovimiento_label {font-size:18px;font-weight:bold;}
.css_tipomovimiento_idtipomovimiento_line {font-size:18px;text-align:left;width:200px;height:40px;}
.css_tipomovimiento_idtipomovimiento_obj {font-size:18px;text-align:left;width:200px;height:40px;}
.css_idtransporte_label {font-size:18px;font-weight:bold;}
.css_idtransporte_line {font-size:18px;text-align:left;width:180px;height:25px;}
.css_idtransporte_obj {font-size:18px;text-align:left;width:180px;height:25px;}
.css_medida_label {font-size:18px;}
.css_medida_line {font-size:18px;}
.css_medida_obj {font-size:18px;}
.css_fima_label {font-size:18px;}
.css_fima_line { }
.css_fima_obj { }
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
