.css_login_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_login_grid_line {vertical-align: top;text-align: left;}
.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: left;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: left;}
.css_active_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_active_grid_line {vertical-align: top;text-align: left;}
.css_idyarda_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idyarda_grid_line {vertical-align: top;text-align: right;}
.css_idnaviera_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idnaviera_grid_line {vertical-align: top;text-align: right;}
.css_idtipo_usuario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtipo_usuario_grid_line {vertical-align: top;text-align: right;}
