.css_rev_codigo_revision_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rev_codigo_revision_grid_line {vertical-align: top;text-align: right;}
.css_buq_buque_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_buq_buque_grid_line {vertical-align: top;text-align: right;}
.css_cab_placa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cab_placa_grid_line {vertical-align: top;text-align: right;}
.css_consig_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_consig_nombre_grid_line {vertical-align: top;text-align: right;}
.css_cont_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cont_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_est_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_est_descripcion_grid_line {vertical-align: top;text-align: right;}
