.css_idviaje_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idviaje_grid_line {vertical-align: middle;text-align: center;}
.css_idestado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idestado_grid_line {vertical-align: middle;text-align: center;}
.css_viaje_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_viaje_grid_line {vertical-align: middle;text-align: center;}
.css_fechaatraque_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechaatraque_grid_line {vertical-align: middle;text-align: center;}
.css_fechazarpe_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechazarpe_grid_line {vertical-align: middle;text-align: center;}
.css_idbuque_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idbuque_grid_line {vertical-align: middle;text-align: center;}
.css_idnaviera_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idnaviera_grid_line {vertical-align: middle;text-align: center;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
