.css_turno_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_turno_grid_line {vertical-align: top;text-align: right;}
.css_placa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_placa_grid_line {vertical-align: top;text-align: left;}
.css_chasis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_chasis_grid_line {vertical-align: top;text-align: left;}
.css_piloto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_piloto_grid_line {vertical-align: top;text-align: left;}
.css_contenedorexport_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contenedorexport_grid_line {vertical-align: top;text-align: left;}
.css_contenedorimport_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contenedorimport_grid_line {vertical-align: top;text-align: left;}
.css_naviera_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_naviera_grid_line {vertical-align: top;text-align: left;}
.css_viaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_viaje_grid_line {vertical-align: top;text-align: left;}
.css_tipo_carga_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_carga_grid_line {vertical-align: top;text-align: left;}
.css_codigo_cita_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_cita_grid_line {vertical-align: top;text-align: left;}
.css_fechainicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechainicio_grid_line {vertical-align: top;text-align: center;}
.css_observaciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: left;}
