.css_cantidadmodulistas_label {text-align:;}
.css_cantidadmodulistas_line {text-align:left;}
.css_cantidadmodulistas_obj {text-align:left;}
.css_rangoinicial_label { }
.css_rangoinicial_line { }
.css_rangoinicial_obj { }
.css_rangofinal_label { }
.css_rangofinal_line { }
.css_rangofinal_obj { }
.css_fecharegistro_label { }
.css_fecharegistro_line { }
.css_fecharegistro_obj { }
.css_fechamodificacion_label { }
.css_fechamodificacion_line { }
.css_fechamodificacion_obj { }
.css_horainicio_label { }
.css_horainicio_line { }
.css_horainicio_obj { }
.css_horafin_label { }
.css_horafin_line { }
.css_horafin_obj { }
.css_idtipodemodulista_label { }
.css_idtipodemodulista_line {text-align:left;}
.css_idtipodemodulista_obj {text-align:left;}
