.css_idgestor_aduanal_det_label {text-align: left;vertical-align: middle;}
.css_idgestor_aduanal_det_line {height:0px;text-align: left;}
.css_dpi_det_label {text-align: left;vertical-align: middle;}
.css_dpi_det_line {height:0px;text-align: left;}
.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_telefono1_det_label {text-align: left;vertical-align: middle;}
.css_telefono1_det_line {height:0px;text-align: left;}
.css_telefono2_det_label {text-align: left;vertical-align: middle;}
.css_telefono2_det_line {height:0px;text-align: left;}
