.css_codigo_revision_label { }
.css_codigo_revision_line {text-align:left;}
.css_codigo_revision_obj {text-align:left;}
.css_fecha_solicitud_label { }
.css_fecha_solicitud_line {font-size:14px;color:#FF0000;font-weight:bold;width:250px;}
.css_fecha_solicitud_obj {font-size:14px;color:#FF0000;font-weight:bold;width:250px;}
.css_maga_label {text-align:center;}
.css_maga_line {text-align:center;}
.css_maga_obj {text-align:center;}
.css_sgaia_label {text-align:center;}
.css_sgaia_line {text-align:center;}
.css_sgaia_obj {text-align:center;}
.css_sat_label {text-align:center;}
.css_sat_line {text-align:center;}
.css_sat_obj {text-align:center;}
.css_dipafront_label {text-align:center;}
.css_dipafront_line {text-align:center;}
.css_dipafront_obj {text-align:center;}
.css_ucc_label {text-align:center;}
.css_ucc_line {text-align:center;}
.css_ucc_obj {text-align:center;}
.css_idnaviera_label { }
.css_idnaviera_line {text-align:left;}
.css_idnaviera_obj {text-align:left;}
.css_contenedor_label { }
.css_contenedor_line {width:135px;}
.css_contenedor_obj {width:135px;}
.css_bl_label { }
.css_bl_line {width:170px;}
.css_bl_obj {width:170px;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_idcabezal_label { }
.css_idcabezal_line {text-align:left;width:135px;}
.css_idcabezal_obj {text-align:left;width:135px;}
.css_idgestor_aduanal_label { }
.css_idgestor_aduanal_line {text-align:left;width:250px;}
.css_idgestor_aduanal_obj {text-align:left;width:250px;}
.css_idrampa_label { }
.css_idrampa_line {text-align:left;}
.css_idrampa_obj {text-align:left;}
.css_idconsignatario_label { }
.css_idconsignatario_line {text-align:left;width:275px;}
.css_idconsignatario_obj {text-align:left;width:275px;}
.css_idcontenido_label { }
.css_idcontenido_line {text-align:left;width:220px;}
.css_idcontenido_obj {text-align:left;width:220px;}
.css_idestado_revision_label { }
.css_idestado_revision_line {text-align:left;}
.css_idestado_revision_obj {text-align:left;}
.css_cantidad_por_bl_label { }
.css_cantidad_por_bl_line {text-align:left;width:135px;}
.css_cantidad_por_bl_obj {text-align:left;width:135px;}
.css_idmedida_label { }
.css_idmedida_line {text-align:left;}
.css_idmedida_obj {text-align:left;}
.css_idselectivo_label { }
.css_idselectivo_line {text-align:left;}
.css_idselectivo_obj {text-align:left;}
.css_idtipodecarga_label { }
.css_idtipodecarga_line {text-align:left;}
.css_idtipodecarga_obj {text-align:left;}
.css_sec_users_login_label { }
.css_sec_users_login_line { }
.css_sec_users_login_obj { }
.css_factura_revision_label { }
.css_factura_revision_line {width:150px;}
.css_factura_revision_obj {width:150px;}
.css_factura_acople_label { }
.css_factura_acople_line {width:150px;}
.css_factura_acople_obj {width:150px;}
.css_ubicacion_label { }
.css_ubicacion_line {width:170px;}
.css_ubicacion_obj {width:170px;}
.css_idfuncionario_label {width:275px;}
.css_idfuncionario_line {text-align:left;width:275px;}
.css_idfuncionario_obj {text-align:left;width:275px;}
.css_idviaje_importacion_label { }
.css_idviaje_importacion_line {text-align:left;width:275px;}
.css_idviaje_importacion_obj {text-align:left;width:275px;}
.css_idregimen_aduanero_label { }
.css_idregimen_aduanero_line {text-align:left;width:175px;}
.css_idregimen_aduanero_obj {text-align:left;width:175px;}
.css_iddestino_label { }
.css_iddestino_line {text-align:left;}
.css_iddestino_obj {text-align:left;}
.css_idestado_label { }
.css_idestado_line {text-align:left;}
.css_idestado_obj {text-align:left;}
.css_idtipo_movilizacion_label { }
.css_idtipo_movilizacion_line {text-align:left;}
.css_idtipo_movilizacion_obj {text-align:left;}
