.css_identidad_de_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_identidad_de_estado_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
