.css_idcita_det_label {text-align: left;vertical-align: middle;}
.css_idcita_det_line {height:0px;text-align: left;}
.css_codigo_cita_det_label {text-align: left;vertical-align: middle;}
.css_codigo_cita_det_line {height:0px;text-align: left;}
.css_descripcion_det_label {text-align: left;vertical-align: middle;}
.css_descripcion_det_line {height:0px;text-align: left;}
.css_fechainicio_det_label {text-align: left;vertical-align: middle;}
.css_fechainicio_det_line {height:0px;text-align: left;}
.css_fechafin_det_label {text-align: left;vertical-align: middle;}
.css_fechafin_det_line {height:0px;text-align: left;}
.css_horainicio_det_label {text-align: left;vertical-align: middle;}
.css_horainicio_det_line {height:0px;text-align: left;}
.css_horafin_det_label {text-align: left;vertical-align: middle;}
.css_horafin_det_line {height:0px;text-align: left;}
.css_contenedor_det_label {text-align: left;vertical-align: middle;}
.css_contenedor_det_line {height:0px;text-align: left;}
.css_idbuque_det_label {text-align: left;vertical-align: middle;}
.css_idbuque_det_line {height:0px;text-align: left;}
.css_idnaviera_det_label {text-align: left;vertical-align: middle;}
.css_idnaviera_det_line {height:0px;text-align: left;}
.css_idtipocita_det_label {text-align: left;vertical-align: middle;}
.css_idtipocita_det_line {height:0px;text-align: left;}
.css_idtipodecarga_det_label {text-align: left;vertical-align: middle;}
.css_idtipodecarga_det_line {height:0px;text-align: left;}
.css_idcontenedor_det_label {text-align: left;vertical-align: middle;}
.css_idcontenedor_det_line {height:0px;text-align: left;}
.css_idestado_det_label {text-align: left;vertical-align: middle;}
.css_idestado_det_line {height:0px;text-align: left;}
.css_idpiloto_det_label {text-align: left;vertical-align: middle;}
.css_idpiloto_det_line {height:0px;text-align: left;}
.css_idcabezal_det_label {text-align: left;vertical-align: middle;}
.css_idcabezal_det_line {height:0px;text-align: left;}
.css_categoria_det_label {text-align: left;vertical-align: middle;}
.css_categoria_det_line {height:0px;text-align: left;}
.css_id_api_det_label {text-align: left;vertical-align: middle;}
.css_id_api_det_line {height:0px;text-align: left;}
.css_id_event_google_det_label {text-align: left;vertical-align: middle;}
.css_id_event_google_det_line {height:0px;text-align: left;}
.css_recur_info_det_label {text-align: left;vertical-align: middle;}
.css_recur_info_det_line {height:0px;text-align: left;}
.css_event_color_det_label {text-align: left;vertical-align: middle;}
.css_event_color_det_line {height:0px;text-align: left;}
.css_creator_det_label {text-align: left;vertical-align: middle;}
.css_creator_det_line {height:0px;text-align: left;}
.css_reminder_det_label {text-align: left;vertical-align: middle;}
.css_reminder_det_line {height:0px;text-align: left;}
.css_reaparicion_det_label {text-align: left;vertical-align: middle;}
.css_reaparicion_det_line {height:0px;text-align: left;}
.css_periodo_det_label {text-align: left;vertical-align: middle;}
.css_periodo_det_line {height:0px;text-align: left;}
