.css_idviaje_importacion_det_label {text-align: left;vertical-align: middle;}
.css_idviaje_importacion_det_line {height:0px;text-align: left;}
.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_idbuque_det_label {text-align: left;vertical-align: middle;}
.css_idbuque_det_line {height:0px;text-align: left;}
