.css_idviaje_importacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idviaje_importacion_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_idbuque_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idbuque_grid_line {vertical-align: top;text-align: right;}
