.css_citas_disponibles_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_citas_disponibles_grid_line {vertical-align: top;text-align: right;}
.css_rangoinicial_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_rangoinicial_grid_line {vertical-align: top;text-align: center;}
.css_horainicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_horainicio_grid_line {vertical-align: top;text-align: center;}
.css_disponible_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_disponible_grid_line {text-align: left;}
