.css_idcita_label {text-align:;}
.css_idcita_line {text-align:left;}
.css_idcita_obj {text-align:left;}
.css_codigo_cita_label { }
.css_codigo_cita_line { }
.css_codigo_cita_obj { }
.css_contenedorimport_label { }
.css_contenedorimport_line { }
.css_contenedorimport_obj { }
.css_contenedorexport_label { }
.css_contenedorexport_line { }
.css_contenedorexport_obj { }
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_fechainicio_label { }
.css_fechainicio_line { }
.css_fechainicio_obj { }
.css_chasis_label { }
.css_chasis_line { }
.css_chasis_obj { }
.css_idnaviera_label { }
.css_idnaviera_line {text-align:left;}
.css_idnaviera_obj {text-align:left;}
.css_idtipodecarga_label { }
.css_idtipodecarga_line {text-align:left;}
.css_idtipodecarga_obj {text-align:left;}
.css_idestado_label { }
.css_idestado_line {text-align:left;}
.css_idestado_obj {text-align:left;}
.css_idpiloto_label { }
.css_idpiloto_line {text-align:left;}
.css_idpiloto_obj {text-align:left;}
.css_idcabezal_label { }
.css_idcabezal_line {text-align:left;}
.css_idcabezal_obj {text-align:left;}
.css_idselectivo_label { }
.css_idselectivo_line {text-align:left;}
.css_idselectivo_obj {text-align:left;}
.css_idyarda_label { }
.css_idyarda_line {text-align:left;}
.css_idyarda_obj {text-align:left;}
.css_idtipomovimiento_label { }
.css_idtipomovimiento_line {text-align:left;}
.css_idtipomovimiento_obj {text-align:left;}
.css_idviaje_label { }
.css_idviaje_line {text-align:left;}
.css_idviaje_obj {text-align:left;}
.css_atc_ingreso_label { }
.css_atc_ingreso_line { }
.css_atc_ingreso_obj { }
.css_marchamo_ingreso_label { }
.css_marchamo_ingreso_line { }
.css_marchamo_ingreso_obj { }
.css_revision_label { }
.css_revision_line { }
.css_revision_obj { }
.css_atc_despacho_label { }
.css_atc_despacho_line { }
.css_atc_despacho_obj { }
.css_marchamo_despacho_label { }
.css_marchamo_despacho_line { }
.css_marchamo_despacho_obj { }
.css_sec_users_login_label { }
.css_sec_users_login_line { }
.css_sec_users_login_obj { }
.css_turno_label {text-align:;}
.css_turno_line {text-align:left;}
.css_turno_obj {text-align:left;}
.css_tipo_qr_label { }
.css_tipo_qr_line { }
.css_tipo_qr_obj { }
