.css_turno_det_label {text-align: right;vertical-align: middle;}
.css_turno_det_line {height:0px;text-align: right;}
.css_cit_codigo_cita_det_label {text-align: right;vertical-align: middle;}
.css_cit_codigo_cita_det_line {height:0px;text-align: right;}
.css_cit_contenedorimport_det_label {text-align: right;vertical-align: middle;}
.css_cit_contenedorimport_det_line {height:0px;text-align: right;}
.css_cit_contenedorexport_det_label {text-align: right;vertical-align: middle;}
.css_cit_contenedorexport_det_line {height:0px;text-align: right;}
.css_cit_observaciones_det_label {text-align: right;vertical-align: middle;}
.css_cit_observaciones_det_line {height:0px;text-align: right;}
.css_cit_fechainicio_det_label {text-align: right;vertical-align: middle;}
.css_cit_fechainicio_det_line {height:0px;text-align: right;}
.css_cit_chasis_det_label {text-align: right;vertical-align: middle;}
.css_cit_chasis_det_line {height:0px;text-align: right;}
.css_yarda_det_label {text-align: right;vertical-align: middle;}
.css_yarda_det_line {height:0px;text-align: right;}
.css_pil_licencia_det_label {text-align: right;vertical-align: middle;}
.css_pil_licencia_det_line {height:0px;text-align: right;}
.css_piloto_det_label {text-align: right;vertical-align: middle;}
.css_piloto_det_line {height:0px;text-align: right;}
.css_pil_dpi_det_label {text-align: right;vertical-align: middle;}
.css_pil_dpi_det_line {height:0px;text-align: right;}
.css_pil_huella_det_label {text-align: right;vertical-align: middle;}
.css_pil_huella_det_line {height:0px;text-align: right;}
.css_pil_foto_det_label {text-align: right;vertical-align: middle;}
.css_pil_foto_det_line {height:0px;text-align: right;}
.css_viaje_det_label {text-align: right;vertical-align: middle;}
.css_viaje_det_line {height:0px;text-align: right;}
.css_via_fechaatraque_det_label {text-align: right;vertical-align: middle;}
.css_via_fechaatraque_det_line {height:0px;text-align: right;}
.css_via_fechazarpe_det_label {text-align: right;vertical-align: middle;}
.css_via_fechazarpe_det_line {height:0px;text-align: right;}
.css_via_descripcion_det_label {text-align: right;vertical-align: middle;}
.css_via_descripcion_det_line {height:0px;text-align: right;}
.css_cab_placa_det_label {text-align: right;vertical-align: middle;}
.css_cab_placa_det_line {height:0px;text-align: right;}
.css_cab_descripcion_det_label {text-align: right;vertical-align: middle;}
.css_cab_descripcion_det_line {height:0px;text-align: right;}
.css_buq_buque_det_label {text-align: right;vertical-align: middle;}
.css_buq_buque_det_line {height:0px;text-align: right;}
.css_est_estado_det_label {text-align: right;vertical-align: middle;}
.css_est_estado_det_line {height:0px;text-align: right;}
.css_nav_naviera_det_label {text-align: right;vertical-align: middle;}
.css_nav_naviera_det_line {height:0px;text-align: right;}
.css_tipo_carga_det_label {text-align: right;vertical-align: middle;}
.css_tipo_carga_det_line {height:0px;text-align: right;}
.css_tipo_movimiento_det_label {text-align: right;vertical-align: middle;}
.css_tipo_movimiento_det_line {height:0px;text-align: right;}
