.css_idtransporte_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idtransporte_grid_line {vertical-align: middle;text-align: center;}
.css_transporte_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_transporte_grid_line {vertical-align: top;text-align: right;}
.css_telefono_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telefono_grid_line {vertical-align: top;text-align: right;}
.css_correo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: right;}
