.css_imprimir_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_imprimir_grid_line {text-align: center;}
.css_container_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_container_grid_line {vertical-align: middle;text-align: center;}
.css_vessel_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_vessel_grid_line {vertical-align: middle;text-align: center;}
.css_shippingcompany_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_shippingcompany_grid_line {vertical-align: middle;text-align: center;}
.css_voyage_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_voyage_grid_line {vertical-align: middle;text-align: center;}
.css_date_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_date_grid_line {vertical-align: middle;text-align: center;}
.css_commodity_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_commodity_grid_line {vertical-align: middle;text-align: center;}
.css_grossweight_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_grossweight_grid_line {vertical-align: middle;text-align: center;}
.css_tarecontainer_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tarecontainer_grid_line {vertical-align: middle;text-align: center;}
.css_tarechassis_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tarechassis_grid_line {vertical-align: middle;text-align: center;}
.css_netweight_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_netweight_grid_line {vertical-align: middle;text-align: center;}
.css_vgm_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_vgm_grid_line {vertical-align: middle;text-align: center;}
.css_typeoperation_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_typeoperation_grid_line {vertical-align: middle;text-align: center;}
.css_idweighing_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idweighing_grid_line {vertical-align: top;text-align: right;}
