.css_idcita_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idcita_grid_line {vertical-align: middle;text-align: center;}
.css_fechainicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechainicio_grid_line {vertical-align: middle;text-align: center;}
.css_idpiloto_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idpiloto_grid_line {vertical-align: middle;text-align: center;}
.css_idcabezal_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idcabezal_grid_line {vertical-align: middle;text-align: center;}
.css_idnaviera_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idnaviera_grid_line {vertical-align: middle;text-align: center;}
.css_chasis_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_chasis_grid_line {vertical-align: middle;text-align: center;}
.css_contenedorimport_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contenedorimport_grid_line {vertical-align: middle;text-align: center;}
.css_contenedorexport_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contenedorexport_grid_line {vertical-align: middle;text-align: center;}
.css_idviaje_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idviaje_grid_line {vertical-align: middle;text-align: center;}
.css_imprimir_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_imprimir_grid_line {text-align: center;}
.css_codigo_cita_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_codigo_cita_grid_line {vertical-align: middle;text-align: center;}
.css_observaciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: right;}
